name: iOS Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
    - run: pod repo update
    - run: |
        flutter pub get
        cd ios
        pod install --repo-update
        cd ..
        flutter build ios --debug --no-codesign
    - uses: actions/upload-artifact@v4
      with:
        name: ios-app
        path: build/ios/iphoneos/